@import "../../mixins";

.panel {
  width: 100%;
  height: 80px;

  box-shadow: 1px 1px 8px 0 #31302a;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include fadeInAnimation(1s, 1.2s);
  @include transparentBgBlock(#403F3B, .35);
}