@import "../../generic/typography";
@import "../../settings/color_scheme";

.c_menu__items__item a{
  padding: $ms-2;
  width: 100%;

  color: $menu__item__font-color;
  text-decoration: none;

  display: inline-block;

  &:hover{
    background-color: $menu__item--hover__color;
    opacity: 0.9;
    filter: alpha(opacity=90);
    cursor: pointer;
  }

}