@import "../../tools/mixins";

.c_menu {
  width: 370px;
  min-height: 100vh;

  position: fixed;
  z-index: 0;

  background-color: #222222;

  /*@include fadeInAnimation(1s, 1.5s);*/

  @media all and (max-width: 769px){
    width: 350px;
  }

  @media all and (max-width: 400px){
    width: 230px;
  }
 }

@import "item";
@import "items";
@import "title";