@import "../../../constants";

.card__column {
  position: relative;
  z-index: 1;

  display: flex;
  flex-grow: 1;

  padding: 0 15px;

  &_full_right {
    margin-right: 10px;
    flex-grow: 2;
    border-right: 1px solid #666;
  }

  &_vertical {
    flex-direction: column;
  }

  &_horizontal {
    flex-direction: row;
  }

  @media  all and (max-width: $mobile-one-column) {
    margin: 0;
    border: none;

    &_mobile-order-1 {
      order: 1;
    }

    &_mobile-order-2 {
      order: 2;
    }
  }


}