@import "~normalize.css";
@import "typography";

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  font-family: $font-family;
  position: relative;
  overflow-x: hidden;
}


iframe {
  border: none;
}

.confirmit-inline {
  position: relative;
}


#confirmit-loader {
  display: none !important;
  opacity: 0;
}

.confirmit-inline > div {
  opacity: 0;
}

.confirmit {
  display: none;
}