@import "../generic/typography";
@import "../tools/tools";

.o_full-width {
  width: 100%;
  position: relative;

  z-index: 1;
}

.o_flex--col {
  display: flex;
  flex-direction: column;
  z-index: 1;
  min-width: 15em;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;

  &--2 {
    max-width: 50%;
  }

  @media screen and (max-width: $small-tablet) {
    max-width: 100%;
  }
}

.o_spacer {
  display: flex;

  &--horizontal {
    height: $ms1;

    &--2x {
      height: $ms2;
    }
  }
}

.o_flex--row {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: relative;


  &--to-col {
    @media screen and (max-width: $small-tablet) {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

.o_content {
  max-width: 60 * $base-font-size;
  min-width: 80%;
  min-height: 20 * $base-font-size;
  padding: $ms0 $ms1;

  @include transparentBgBlock(#403F3B, .6);

  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }

  &:after {
    border-radius: 5px;
  }

  &--space-left {
    @media screen and (max-width: $tablet) {
      margin-left: 40px;
    }
  }
}

.o_content--reverse {
  @media screen and (max-width: $tablet) {
    flex-direction: column-reverse;
  }
}

