.menu__items {
  padding-left: 10px;
  padding-right: 10px;
  margin: 15px 0;

  list-style-type: none;
  color: white;
  line-height: 1.2em;
  font-size: 15px;
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 400;
}