<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter Panel</title>
</head>
<body>
<div class="c_filter--panel">
    <div class="c_filter">
        <div class="c_filter--title e_h e_h--h2"></div>
        <div class="c_filter--dropdown"></div>
    </div>
    <div class="c_filter">
        <div class="c_filter--title e_h e_h--h2"></div>
        <div class="c_filter--dropdown"></div>
    </div>
    <div class="c_filter--submit"></div>
    <div class="c_filter--badge">
        <svg width="16" height="12" viewBox="0 0 16 12"><path xmlns="http://www.w3.org/2000/svg" d="M 0 0 l 6 6 v 6 l 4 -1 V 6 l 6 -6 Z"></path></svg>
    </div>
</div>
</body>
</html>