@import '../../mixins';
@import '../../constants';

.site__card {
  width: 80%;
  max-width: 1170px;
  padding: 20px 10px;

  display: flex;
  flex-direction: row;

  box-shadow: 1px 1px 8px 0px #545555;

  @include fadeInAnimation(1s, .7s);
  @include transparentBgBlock(#555A5A, .85);

  &:after {
    border-radius: 3px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }

  @media  all and (max-width: $mobile-one-column) {
    width: 95%;
    flex-direction: column;
  }
}