@import "../../../constants";

.login__recovery-link {
  width: 100%;

  padding: 15px 0 5px;

  & a {
    text-decoration: underline;
    color: darken($yellow, 15%);

    transition: color 0.3s ease-in;

    &:hover {

      color: $yellow;
    }
  }
}