@import "../../settings/settings";
@import "../../generic/typography";

.light-grey {
  button {
    outline: none;
  }
}

button.yui3-button {
  background-image: none;
  box-shadow: none;
  transition: color 0.3s ease-in;

  &:hover {
    background-image: none !important;
    color: lighten($blue, 5%) !important;
  }

  &:active {
    box-shadow: none !important;
    background-image: none !important;
  }

  &.hitlist-dropdown-clear {
    background-color: rgba(0,0,0,0.25) !important;
  }
}

button.sv-close, button.sv-print-button {
  background-color: transparent;
}

button.yui3-button[disabled], button.yui3-button[disabled]:hover, button.yui3-button[disabled]:active,
button.yui3-button-disabled, button.yui3-button-disabled:hover, button.yui3-button-disabled:active {
  cursor: default !important;
  background-image: none !important;
  box-shadow: none !important;
  color: rgba(0,0,0,0.80) !important;
}