@import "../../generic/typography";

div.yui-ac-content {
  font-size: $ms-1;
}

span.hitlist-pagination-count {
  color: white;
}

.light-grey {
  .hitlist-dropdown-panel, .hitlist-column-panel {
    box-shadow: 0 0 0 #ccc !important;
  }

  .hitlist-column-panel-cancel, .hitlist-dropdown-cancel:link, .hitlist-filter-item label {
    font-size: $ms0 !important;
    color: initial !important;
  }
}
