@import "../../settings/settings";
@import "../../generic/typography";


div.hitlist-container {
  width: 100% !important;
}

.hitlist-container .yui3-datatable-odd {
  td {
    background-color: rgba(0, 0, 0, .6) !important;
  }
}

.light-grey .hitlist {
  tr th, tr td {
    color: white !important;
    font-size: $ms1 !important;
    line-height: 40px !important;
    border-top-style: none !important;
  }

  .yui3-datatable-sorted {
    background-color: initial !important;
    border-left-style: none !important;
    border-right-style: none !important;
  }

  tr th {
    text-shadow: none !important;
  }

  tr td {
    border-bottom: 1px solid $btn__color !important;
  }

  .yui3-datatable-even {
    background-color: rgba(0, 0, 0, .1) !important;
    &:hover .yui3-datatable-cell {
      background-color: darken(rgba(0, 0, 0, .1), 60%) !important;
      background-image: none !important;
    }
  }

  .yui3-datatable-odd {
    background-color: transparent !important;

    .yui3-datatable-sorted {
      background-color: rgba(0, 0, 0, .6) !important;
    }

    &:hover .yui3-datatable-cell {
      background-color: rgba(0, 0, 0, 0.9) !important;
      background-image: none !important;
    }
  }

  .yui3-datatable-table {
    width: 100% !important;
  }

  tbody tr:last-child td {
    border-bottom: none !important;
  }

  .yui3-datatable-sort-liner:focus {
    color: #cccccc !important;
    text-shadow: none !important;
  }
}

.light-grey {
  .hitlist .yui3-datatable-header,
  .hitlist-nav-prev,
  .hitlist-nav-next,
  .hitlist-nav-page {
    color: white !important;
  }

  .hitlist-nav-prev:hover,
  .hitlist-nav-next:hover,
  .hitlist-nav-page:hover {
    background-color: rgba(0,0,0,.9) !important;
  }

  .hitlist .yui3-datatable-header,
  .hitlist-nav-prev,
  .hitlist-nav-next,
  .hitlist-nav-page,
  a.hitlist-nav-prev.disabled:active,
  a.hitlist-nav-next.disabled:active,
  a.hitlist-nav-page.disabled:active,
  a.hitlist-nav-prev.disabled:hover,
  a.hitlist-nav-next.disabled:hover,
  a.hitlist-nav-page.disabled:hover {
    background-color: rgba(0,0,0,.6) !important;
    background-image: none !important;
  }
}

span.hitlist-pagination-count {
  color: white;
}

.e_link {
  width: 100%;

  padding: 15px 0 5px;

  & a {

    text-decoration: underline;
    color: darken($yellow, 5%);

    transition: color 0.3s ease-in;

    &:hover {

      color: lighten($yellow, 5%);
    }
  }
}
a.e_link, .e_table td a {
  width: auto;
  padding: 0;
  color: darken($yellow, 5%);

  transition: color 0.3s ease-in;

  &:hover {

    color: lighten($yellow, 5%);
  }
}