@import "../settings/settings";

.e_link {
  width: 100%;

  padding: 15px 0 5px;

  & a {

    text-decoration: underline;
    color: darken($yellow, 5%);

    transition: color 0.3s ease-in;

    &:hover {

      color: lighten($yellow, 5%);
    }
  }
}
a.e_link {
  width: auto;
  padding: 0;
  color: darken($yellow, 5%);

  transition: color 0.3s ease-in;

  &:hover {

    color: lighten($yellow, 5%);
  }
}