.c_panel-body {
  min-height: 100vh;
  position: absolute;

  transform: translate(0px);
  transition: transform 400ms ease;

  background-color: $btn__color;
  background-image: url('https://survey.euro.confirmit.com/isa/BDJPFRDMEYBPBKLVADAYFQCDAVIOEQJR/Suths/shop_tech2.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.c_menu--open + .c_panel-body {
    transform: translateX(370px);

    @media all and (max-width: 769px){
      transform: translateX(349px);
    }

    @media all and (max-width: 400px){
      transform: translateX(229px);
    }
}