/* fixes horizontal scroll from appearing whe resized frow a wide to a narrow window */
body:not(.masked)>#wait_c {left:0 !important}

.yui-skin-sam>.mask {
  background-color: #FFF !important;
  opacity: 0.5 !important;
  height: auto !important;
  width: auto !important;
  position:fixed !important;
}
.yui-skin-sam>.yui-panel-container>.yui-panel {
  border: 0;
  width: 100px !important;
}
.yui-skin-sam>.yui-panel-container>.yui-panel>.bd {
  left: 50px !important;
}
.yui-skin-sam>.yui-panel-container>.yui-panel>.bd, /* second dot */
.yui-skin-sam>.yui-panel-container>.yui-panel>.bd:before, /* first dot */
.yui-skin-sam>.yui-panel-container>.yui-panel>.bd:after { /* third dot */
  content: ' ';
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: transparent;
  display: block;
  left: 32px;
  -webkit-animation: pulse .9s alternate ease-in-out infinite;
  -o-animation: pulse .9s alternate ease-in-out infinite;
  animation: pulse .9s alternate ease-in-out infinite;
  -webkit-animation-delay: .3s;
  -o-animation-delay: .3s;
  animation-delay: .3s;
  padding: 0;
  margin: 0;
  border: 0;
}
.yui-skin-sam>.yui-panel-container>.yui-panel>.bd>img { /* hide green progressbar */
  display: none;
}
.yui-skin-sam>.yui-panel-container>.yui-panel>.bd:before {
  left: -32px;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.yui-skin-sam>.yui-panel-container>.yui-panel>.bd:after {
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}
.yui-skin-sam>.yui-panel-container>.yui-panel>.hd {
  font-family: inherit !important;
  font-weight: normal;
  display: none; /* hide "Loading..." title */
}
.yui-skin-sam>.yui-panel-container>.underlay {
  display: none !important;
}

/* pusling dots animation */
@-o-keyframes pulse {
  from {
    background-color:transparent;
  }
  to {
    background-color:rgba(0,0,0,.5);
  }
}
@keyframes pulse {
  from {
    background-color:transparent;
  }
  to {
    background-color:rgba(0,0,0,.5);
  }
}
@-webkit-keyframes pulse {
  from {
    background-color:transparent;
  }
  to {
    background-color:rgba(0,0,0,.5);
  }
}