$yellow: #F0A62F;
$blue: #6accf9;


$error__color: #FFA992;
$error__font-color: #FF4514;
$error__border-color: $error__font-color;

$btn__color: #CBC9C5;
$btn__font-color: #393832;
$btn__border-color: $btn__color;

$btn--hover__color: $yellow;
$btn--hover__font-color: #fff;
$btn--hover__border-color: $btn--hover__color;

$menu__item--hover__color: $yellow;
$menu__item__font-color: #fff;

$h1__color: $blue;
$h2__color: $yellow;