@import "../../settings/settings";

.c_table {
  background-color: rgba(0, 0, 0, 0.3);

  th, td {
    border: 1px solid $btn__color;
    padding: $ms-4;
  }

  .header {
    font-weight: bold;
  }

  .datacell {
    color: #fff;
    font-size: $ms0;
  }

  text-align: center;

  th, .rowheader, .columnheader, .total, .header{
    color: $yellow;
    font-size: $ms1;
  }

  &__blue {
    th, .rowheader, .columnheader, .total, .header {
      color: $blue;
    }
  }

  &__long {
    width: 100%;

    th, .rowheader, .columnheader, .total, .header {
      font-size: $ms0;
    }

    .datacell {
      font-size: $ms-1;
    }
  }
}

.o_flex--col--2 table {
  width: 95%;
}

@media screen and (max-width: 540px) {
  fieldset>table>tbody>tr>td {
    display: table-row;
  }
}

@media screen and (max-width: $small-tablet) {
  .o_flex--col--2 table {
    width: 100%;
  }
}