@import '../../settings/settings';
@import "../../generic/typography";

.c_login {
  width: 15 * $base-font-size;

  tr {
    padding-bottom: $ms-3;
  }

  table {
    width: 100%;
    max-width: 15 * $base-font-size;
  }

  @media all and (max-width: $mobile-one-column) {
    width: 100%;
  }
}

@import "error-message";
@import "instruction-text";