.menu__title {
  width: 100%;
  margin-top: 15px;

  overflow: auto;
  text-align: center;

  color: white;
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 26px;
  background-color: #6d6767;
}
