@import './animations';

@mixin fadeInAnimation($duration, $delay) {
  opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: $duration;
  animation-delay: $delay;
}

@mixin transparentBgBlock($color, $opacity) {
  background-color: transparent;
  position: relative;

  &:after {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    content: '';

    background-color: $color;
    opacity: $opacity;
  }
}