.c_inline-survey {
  background-color: transparent;
  margin:0;
  padding:0;
  opacity: 1 !important;
  overflow-y: hidden;

  .powered {
    display: none;
  }

  .questionarea, textarea {
    margin: 0 !important;
    min-width: 50% !important;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }

  table {
    border-collapse: collapse;
    margin: 0 !important;
  }

  td {
    padding: 1em 0;
    text-align: center;
  }

  input.confirmit-nav {
    width: 100%;
    max-width: 255px;
  }

  input.input-text {
    width: 98%;
  }

  .confirmit-loader {
    display: none !important;
    opacity: 0;
  }

  .c_login__error-message {
    max-width: 255px;
  }

  textarea {
    width: 98%;
  }

}

#fieldset_Rewards {
  input[type=radio] {
    display: none;
  }
}

@import "question-area";
@import "reward-points";
@import "redeem-for-answer-button";