@import "../../../settings/settings";

.input-text {
  padding: 4px;
  width: 100%;
  max-width: 255px;

  background-color: transparent;

  border: solid 2px #F7F5F5;
  outline: none;

  font-weight: 400;
  font-size: 14px;
  color: white;
  letter-spacing: 0.7px;
  border-radius: 2px;

  transition: all .3s ease-in;

  &:focus {
    border-color: transparent;
    box-shadow: 0 0 2px 2px $yellow;
  }

  &_credential {
    width: 90%;
  }

  &_invalid {
    box-shadow: 0 0 5px 3px #FF4514;
    border: 2px solid transparent;
  }
}